@font-face{
    font-family: Inconsolata;
    src: url("./fonts/Inconsolata-VariableFont_wdth\,wght.ttf")
}

@import "tailwindcss";

@theme{
    --font-inconsolata:Inconsolata, "sans-serif";
}


@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.74) inset;
    -webkit-text-fill-color: theme('colors.gray.900');
  }
}